width-desktop = 1024px

color-app-back = #F8F9FA
color-app-text = #000000
color-app-shadow = #b7c2c9

color-button-back = #117485
color-button-text = #F8F9FA

color-message-back = #d1ecf1
color-message-text = #117485

color-message-warning-back = #fadfde
color-message-warning-text = #d9534f
