.message
  padding 20px
  border-radius 4px
  background-color color-message-back
  color color-message-text
  animation-slide-in-left()
  shadow(color-app-shadow)

  &--warning
    background-color color-message-warning-back
    color color-message-warning-text
